html, body {
    font: normal 0.9em arial, helvetica;
}

label {
    width: 80px;
    float: left;
}

#table_employees tr:hover {
    font-weight: bold;
    color: navy;
}

.highlight {
    background: #FFFFCC;
}

.button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
